*{

font-family: 'Sarala', sans-serif;

}

.myColour{

	background-color: black;
	font-color: white;
	font-weight: bolder;
}

.fontColour{


	color: black;
}

a {

color: inherit;

}
	


.short{


	height: 25%;
}


.white{

	font-color: white;
}